In [2]:
# Notebook para el desarrollo del proyecto Sprint 6

# **Libraries**

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import plotly.express as px

# **Data exploration**

In [4]:
# Read df vehicles

df = pd.read_csv("/Users/juancarlospedroza/Desktop/project6/vehicles_us.csv")
df.sample(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
17463,22995,2010.0,ford f-250 sd,excellent,8.0,diesel,84546.0,automatic,truck,white,1.0,2018-10-24,44
20222,2800,1986.0,gmc sierra 1500,good,8.0,gas,90420.0,automatic,truck,blue,NaN,2018-11-13,53
47907,17000,2009.0,cadillac escalade,good,8.0,gas,91208.0,automatic,SUV,custom,NaN,2019-02-17,52
39011,11995,2013.0,volkswagen passat,excellent,4.0,diesel,42467.0,automatic,sedan,silver,NaN,2019-02-25,45
20680,1400,NaN,ford ranger,fair,4.0,gas,171474.0,manual,truck,white,NaN,2019-01-13,62

In [5]:
# Explore dataframe

print(f" El dataframe tiene {df.shape} filas y columnas respectivamente. \n\n")
print(f" Las columnas originas les son las siguientes:\n\n {df.columns} \n\n")

 El dataframe tiene (51525, 13) filas y columnas respectivamente.


 Las columnas originas les son las siguientes:

 Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

In [6]:
# Check column types, and look for missing values.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

# **Data Cleaning**

In [7]:
# I look for duplicates and missing values.

print(f"Este dataframe tiene {df.duplicated().sum()} valores duplicados. \n")
print("Valores perdidos por columna del df")
df.isna().sum()

Este dataframe tiene 0 valores duplicados.

Valores perdidos por columna del df

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [8]:
# Reemplazo los valores perdidos en las variables categóricas por "unknown"
categorical_cols = ["model", "fuel", "condition", "transmission", "type", "paint_color", "date_posted"]

df[categorical_cols] = df[categorical_cols].fillna("unknown")

In [9]:
# Reemplazo los valores perdidos en las variables numéricas como "0"
numerical_cols = ["price", "model_year", "cylinders", "is_4wd", "days_listed"]

df[numerical_cols] = df[numerical_cols].fillna(0)

In [10]:
# Cambio las columnas "model_year", "cylinders", "odometer" y "is_4wd" a int.
df["model_year"] = df["model_year"].astype("int")
df["cylinders"] = df["cylinders"].astype("int")
df["is_4wd"] = df["is_4wd"].astype("int")

# Cambio las columnas "date_posted" a dateTime.
df["date_posted"] = pd.to_datetime(df["date_posted"])

# La columna "odometer" la trabajo por separado porque causa conflicto ponerle 0 a sus valores perdidos.

df["odometer"] = df["odometer"].fillna(1)
df["odometer"] = df["odometer"].astype("int")

In [11]:
print("El dataframe ya se encuentra limpio: \n")
df

El dataframe ya se encuentra limpio:

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6,gas,145000,automatic,SUV,unknown,1,2018-06-23,19
1,25500,0,ford f-150,good,6,gas,88705,automatic,pickup,white,1,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,0,2019-02-07,79
3,1500,2003,ford f-150,fair,8,gas,1,automatic,pickup,unknown,0,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,0,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013,nissan maxima,like new,6,gas,88136,automatic,sedan,black,0,2018-10-03,37
51521,2700,2002,honda civic,salvage,4,gas,181500,automatic,sedan,white,0,2018-11-14,22
51522,3950,2009,hyundai sonata,excellent,4,gas,128000,automatic,sedan,blue,0,2018-11-15,32
51523,7455,2013,toyota corolla,good,4,gas,139573,automatic,sedan,black,0,2018-07-02,71
51524,6300,2014,nissan altima,good,4,gas,1,automatic,sedan,unknown,0,2018-06-05,10

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  int64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  int64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 5.1+ MB

# **Export CSV**

In [12]:
df.to_csv('vehicles_clean_df.csv', index=False)